.breadcrumb {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    &__link {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 13px;
        color: #b93777;
        position: relative;
        transition: color ease 0.3s;
        &:hover {
            color: #d16fa0;
        }
        &:last-child {
            color: #a8a8a8;
            transition: color ease 0.3s;
            &:hover {
                color: #c7b5b5;
            }
        }
        &:not(:last-child) {
            padding-right: 6px;
            margin-right: 6px;
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #b93777;
                left: 100%;
            }
        }
    }
}