.button {
    max-width: 360px;
    width: 100%;
    @media screen and (max-width: 1200px) {
        width: 275px;
    }
    @media screen and (max-width: 1105px) {
        width: 293px;
    }
    @media screen and (max-width: 982px) {
        max-width: none;
        width: 450px;
    }
    @media screen and (max-width: 968px) {
        max-width: none;
        width: 349px;
    }
    @media screen and (max-width: 836px) {
        max-width: none;
        width: 301px;
    }
    @media screen and (max-width: 736px) {
        max-width: none;
        width: 265px;
    }
    @media screen and (max-width: 636px) {
        max-width: none;
        width: 229px;
    }
    @media screen and (max-width: 536px) {
        max-width: none;
        width: 290px;
    }
    @media screen and (max-width: 436px) {
        max-width: none;
        width: 274px;
    }
    @media screen and (max-width: 386px) {
        max-width: none;
        width: 244px;
    }
    @media screen and (max-width: 320px) {
        max-width: none;
        width: 260px;
    }
    display: flex;
    justify-content: center;
    font-family: 'HelveticaNeueCyr-LightItalic';
    font-size: 13px;
    color: #95979c;
    background-color: white;
    border: 1px solid #95979c;
    padding: 17px 0;
    transition: background-color ease 0.3s;
    &:hover {
        background-color: rgba(61, 53, 57, 0.075);
    }
    &--grey {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        color: white;
        background-color: #747474;
        padding: 18px 0;
        &:hover {
            background-color: rgba(145,145,145,1);
        }
    }
}