.checkbox {
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    font-family: 'Cuprum';
    font-size: 13px;
    color: #5f5f5f;
    height: 20px;
    display: flex;
    align-items: center;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border: 1px solid #5f5f5f;
        &::after {
            content: "";
            position: absolute;
            background-image: url("/img/checkbox/checkmark.png");
            width: 12px;
            height: 13px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    input:checked ~ &__checkmark::after {
        opacity: 1;
    }
}