.location {
  margin-top: 28px;
  display: flex;
  align-items: center;
  &__city {
    padding-left: 7px;
    padding-top: 5px;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 14px;
    color: #5f5f5f;
  }
}
