.about-course {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    @media screen and (max-width: 1200px) {
        width: 275px;
    }
    @media screen and (max-width: 1105px) {
        width: 30%;
    }
    @media screen and (max-width: 982px) {
        max-width: none;
        width: 46%;
    }
    &__line {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }
    &__above-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }
    &__growth {
        background-color: #b93777;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 13px;
        color: white;
        padding: 12px 20px;
    }
    &__title {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 15px;
        margin-bottom: 9px;
        line-height: 19px;
    }
    &__university {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 13px;
        color: #666d78;
        margin-top: 0;
        margin-bottom: 36px;
    }
    &__left {
        font-family: 'HelveticaNeueCyr-LightItalic';
        font-size: 13px;
        color: #6c6c6c;
    }
    &__right {
        font-family: 'HelveticaNeueCyr-LightItalic';
        font-size: 13px;
        color: #6c6c6c;
    }
    &__amount {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 11px;
        color: #c3bbbb;
        margin-left: 8px;
        margin-top: 7px;
    }
    &__last-day {
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 11px;
        color: #c3bbbb;
        margin-left:11px;
        margin-top: 7px;
    }
    &__recruitment {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        margin-bottom: 42px;
    }
    &__date {
        display: flex;
        align-items: center;
    }
    &__people {
        display: flex;
        align-items: center;
    }
    &__characteristics {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-color: #dfd9d5;
            width: 1px;
            height: 100%;
            left: 50%;
        }
    }
    &__heart {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: background-color ease 0.3s;
        padding-top: 5px;
        border-radius: 100%;
        width: 34px;
        height: 34px;
        &:hover {
            background-color: rgba(185,55,119,0.1);
        }
    }
}