.about-course
    p.about-course__growth Профессиональный рост
    .about-course__header
        h3.about-course__title ТАЙМ-МЕНЕДЖМЕНТ И СТРУКТУРА ОРГАНИЗАЦИИ
        p.about-course__university Московский государственный университет
    .about-course__characteristics
        .about-course__line
            span.about-course__left Стоимость
            span.about-course__right Бесплатно
        .about-course__line
            span.about-course__left Длительность
            span.about-course__right 1 Месяц
        .about-course__line
            span.about-course__left Рейтинг
            .about-course__right
                include ../components/rating