footer.footer
    .container
        a.footer__logo(href="/")
            img.footer__img-logo(src="/img/logo.png" alt="")
        .footer__socials
            ul.footer__social-networks
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/VK.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/facebook.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/twitter.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/OK.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/skype.png" alt="")