footer.footer
    .container
        .footer__links
            a.footer__logo(href="/")
                img.footer__img-logo(src="/img/logo.png" alt="")
            .footer__adaptive
                a.footer__adaptive-link(href="#") О ПРОЕКТЕ
                a.footer__adaptive-link(href="") КУРСЫ
                a.footer__adaptive-link(href="") ВУЗЫ И ШКОЛЫ
                a.footer__adaptive-link(href="") ПРЕПОДАВАТЕЛИ
                a.footer__adaptive-link(href="") ЛИЧНЫЙ КАБИНЕТ
            ul.footer__socials
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/VK.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/facebook.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/twitter.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/OK.png" alt="")
                li.footer__social-network
                    a.footer__link(href="#")
                        img.footer__img(src="/img/socials/skype.png" alt="")
        .footer__wrapper
            ul.footer__navigation 
                li.footer__about-project
                    a.footer__advertisement(href="#") О ПРОЕКТЕ
                li.footer__about-project
                    a.footer__advertisement(href="#") РЕКЛАМА НА САЙТЕ
                li.footer__about-project
                    a.footer__advertisement(href="#") ВУЗАМ И ПРЕПОДАВАТЕЛЯМ
            .footer__menu 
                .footer__menu-links
                    a.footer__title(href="") ЛИЧНЫЙ КАБИНЕТ
                    a.footer__menu-link(href="") Войти
                    a.footer__menu-link(href="") Регистрация
                .footer__menu-links
                    a.footer__title(href="") КУРСЫ
                    a.footer__menu-link(href="") Разместить курс
                .footer__menu-links
                    a.footer__title(href="") ВУЗЫ И ШКОЛЫ
                    a.footer__menu-link(href="") Стать партнером сайта
                .footer__menu-links
                    a.footer__title(href="") ПРЕПОДАВАТЕЛИ
                    a.footer__menu-link(href="") Опубликовать профиль
            p.footer__copyright Все права защищены   © КОРПОРАЦИЯ МОЗГА, 2018