header.header.container
  include ../components/burger
  a.header__logo(href="/")
    img.header__logotype(src="/img/logo.png" alt="")
    img.header__mob-logo(src="/img/mob-logo.png" alt="")
  .header__wrapper
    nav.header__navigation
      a.header__link(href="#") О ПРОЕКТЕ
      a.header__link(href="#") КУРСЫ
      a.header__link(href="#") ВУЗЫ И ШКОЛЫ
      a.header__link(href="#") ПРЕПОДАВАТЕЛИ
    button.header__city(type="button")
      img(src="/img/icons/arrow.png" alt="")
      span МОСКВА
    a.header__educate(href="#") ХОЧУ ОБУЧАТЬ
    a.header__sign-in(href="#") ВОЙТИ