include ../components/above-header
header.header.header--authorized
    .container
        a(href="/")
            img(src="/img/logo2.png" alt="")
        nav.header__navigation
            a.header__link(href="#") О ПРОЕКТЕ
            a.header__link(href="#") КУРСЫ
            a.header__link(href="#") ВУЗЫ И ШКОЛЫ
            a.header__link(href="#") ПРЕПОДАВАТЕЛИ
        button.header__city(type="button")
            img(src="/img/icons/arrow2.png" alt="")
            span МОСКВА
        a.header__profile
            img.header__pic(src="/img/authorized/woman.jpg" alt="")
        button.header__icon.header__icon--ribbon(type="button")
            img(src="/img/icons/ribbon.png" alt="")
        button.header__icon(type="button")
            img(src="/img/icons/sun.png" alt="")