section.about.container
    - var bannerImage = "/img/banners/1.jpg";
    include ../components/banner.pug
    h2.about__title ПРОЕКТ "КОРПОРАЦИЯ МОЗГА"
    p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id venenatis nibh, sed aliquam sapien. Etiam at facilisis augue. Phasellus pretium eu elit at hendrerit. Etiam vestibulum pulvinar magna id mattis. Mauris maximus venenatis posuere. Aliquam quis purus non ante egestas blandit. Quisque volutpat velit at ex fermentum ornare. In magna libero, luctus eu semper ac, accumsan in ante.
    - var bannerImage = "/img/banners/2.jpg";
    include ../components/banner.pug