section.best-teachers.container
    - var bannerImage = "/img/banners/1.jpg";
    include ../components/banner.pug
    h2.best-teachers__title ЛУЧШИЕ ПРЕПОДАВАТЕЛИ
    .best-teachers__wrapper
        each val in ["img/teachers/1.jpg", "img/teachers/2.jpg", "img/teachers/1.jpg", "img/teachers/2.jpg"]
            - teacherImage = val;
            include ../blocks/best-teacher