section.conducting-classes.container
    .conducting-classes__wrapper
        ul.conducting-classes__socials
            li.conducting-classes__social-network
                a.conducting-classes__link(href="#")
                    img.conducting-classes__img(src="/img/socials/VK2.png" alt="")
            li.conducting-classes__social-network
                a.conducting-classes__link(href="#")
                    img.conducting-classes__img(src="/img/socials/facebook2.png" alt="")
            li.conducting-classes__social-network
                a.conducting-classes__link(href="#")
                    img.conducting-classes__img(src="/img/socials/twitter2.png" alt="")
            li.conducting-classes__social-network
                a.conducting-classes__link(href="#")
                    img.conducting-classes__img(src="/img/socials/OK2.png" alt="")
        include ../blocks/our-partner
    .conducting-classes__about
        .conducting-classes__class-location 
            span.conducting-classes__place Места проведения занятий
            include ../components/location
        .conducting-classes__custom-checkboxes
            each val in [{text: 'Выезд'}, {text: 'Занятия в группе'}, {text: 'Индивидуально'}, {text: 'Онлайн'}]
                - checkboxText = val.text;
                include ../components/checkbox
        .conducting-classes__documents 
            h4.conducting-classes__title Лицензии и дипломы
            .conducting-classes__licenses
                each val in [1, 2, 3, 4]
                    include ../components/license