section.main
    .container
        h1.main__title НАЙДИТЕ СВОЕ ПРИЗВАНИЕ В ПОЛНОМ КАТАЛОГЕ ВУЗОВ И КУРСОВ
        ul.main__partners
            li.main__partner 300 ВУЗОВ
            li.main__partner 5 600 КУРСОВ
            li.main__partner 1 200 ПРЕПОДАВАТЕЛЕЙ
        form.main__search-field
            input.main__text(type="text" placeholder="")
            button.main__loupe(type="button")
                img(src="/img/icons/loupe.png" alt="")