section.our-partners.container
    h2.our-partners__title ВУЗЫ ПАРТНЕРЫ
    .our-partners__wrapper
        each val in [1, 2, 3]
            include ../blocks/our-partner
    a.button.button--grey(href="#") ВСЕ КУРСЫ