section.popular.container
    h2.popular__title ПОПУЛЯРНЫЕ КУРСЫ
    .popular__tabs
        img.popular__arrow.popular__arrow--left(src="/img/icons/mob-slider.png" alt="")
        ul.popular__courses
            li.popular__course.popular__course--active
                button(type="button") ВСЕ КУРСЫ  450
            li.popular__course
                button(type="button") IT-КУРСЫ  5
            li.popular__course
                button(type="button") ПРОФЕССИОНАЛЬНЫЙ РОСТ  10
            li.popular__course
                button(type="button") БИЗНЕС И ФИНАНСЫ 40
            li.popular__course
                button(type="button") WEB-ДИЗАЙН  10
        img.popular__arrow.popular__arrow--right(src="/img/icons/mob-slider.png" alt="")
    .popular__about-courses
        each val in [1, 2, 3, 4, 5, 6]
            include ../blocks/about-course
    a.button.button--grey(href="#") ВСЕ КУРСЫ