section.region-selection.container
    span.region-selection__close
    .region-selection__city-search
        img.region-selection__map-pin(src="/img/icons/map-pin.png" alt="")
        form.region-selection__search-field
            input.region-selection__text(type="text" placeholder="Начните вводить название города...")
    .region-selection__choose-city 
        h2.region-selection__title Или выберите город из списка
    ul.region-selection__city-select-content
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва
        li.region-selection__city 
            button.region-selection__button(type="button") Астрахань
        li.region-selection__city 
            button.region-selection__button(type="button") Белгород
        li.region-selection__city 
            button.region-selection__button(type="button") Волгоград
        li.region-selection__city 
            button.region-selection__button(type="button") Геленджик
        li.region-selection__city 
            button.region-selection__button(type="button") Домодедово
        li.region-selection__city 
            button.region-selection__button(type="button") Екатеринбург
        li.region-selection__city 
            button.region-selection__button(type="button") Иркутск
        li.region-selection__city 
            button.region-selection__button(type="button") Казань
        li.region-selection__city 
            button.region-selection__button(type="button") Краснодар
        li.region-selection__city 
            button.region-selection__button(type="button") Москва