.conducting-classes {
  display: flex;
  &__wrapper {
    max-width: 263px;
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    width: 200px;
    margin-top: 33px;
    margin-bottom: 59px;
    margin-left: auto;
    margin-right: auto;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a8a8a8;
    width: 48px;
    height: 48px;
    transition: background-color ease 0.3s;
    &:hover {
      background-color: #e4e2e2;
    }
  }
  .our-partner {
    &__amount {
      display: inline-block;
      &:nth-child(2) {
        padding-left: 7px;
      }
    }
    &__study {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-color: #b93777;
        width: 1px;
        height: 100%;
        left: 32%;
        margin-left: 4px;
      }
    }
  }
  &__class-location {
    margin-top: 30px;
  }
  &__place {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 13px;
    color: #a8a8a8;
  }
  .location {
    margin-top: 17px;
  }
  &__about {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-left: 30px;
  }
  &__custom-checkboxes {
    display: flex;
    justify-content: space-between;
    width: 555px;
    margin-top: 59px;
  }
  &__documents {
    margin-top: 68px;
  }
  &__title {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 13px;
    color: #a8a8a8;
    margin-bottom: 26px;
    margin-top: 0;
  }
  &__licenses {
    display: flex;
    justify-content: space-between;
  }
}
