@import "../blocks/customer";

.customers {
    @media screen and (max-width: 1130px) {
        width: 80%;
    }
    @media screen and (max-width: 786px) {
        flex-wrap: wrap;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-family: 'Cuprum';
        font-size: 39px;
        color: #232323;
        letter-spacing: 10px;
        margin-top: 154px;
        margin-bottom: 91px;
        @media screen and (max-width: 786px) {
            font-size: 30px;
        }
        @media screen and (max-width: 736px) {
            font-size: 27px;
        }
        @media screen and (max-width: 686px) {
            font-size: 24px;
        }
        @media screen and (max-width: 636px) {
            font-size: 20px;
        }
        @media screen and (max-width: 586px) {
            letter-spacing: 9px;
        }
        @media screen and (max-width: 486px) {
            letter-spacing: 7px;
        }
        @media screen and (max-width: 436px) {
            letter-spacing: 5px;
        }
        @media screen and (max-width: 386px) {
            letter-spacing: 3px;
        }
        @media screen and (max-width: 320px) {
            letter-spacing: 2px;
        }
        @media screen and (max-width: 300px) {
            letter-spacing: 0;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        @media screen and (max-width: 810px) {
            flex-wrap: wrap;
        }
    }
    &__gallery {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 96px;
        @media screen and (max-width: 810px) {
            flex-direction: column;
            align-items: center;
            margin-top: 77px;
            height: 744px;
        }
    }
    &__img {
        @media screen and (max-width: 1200px) {
            width: 30%;
        }
        @media screen and (max-width: 810px) {
            width: 360px;
            height: 224px;
        }
    }
}