.main {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    background-image: url("/img/main/background.jpg");
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 390px;
    margin-top: -149.2px;
    @media screen and (max-width: 1440px) {
        padding-top: 220px;
        padding-bottom: 250px;
    }
    &__title {
        font-family: 'Cuprum';
        font-weight: 400;
        font-size: 23px;
        @media screen and (max-width: 636px) {
            font-size: 20px;
        }
        @media screen and (max-width: 536px) {
            font-size: 18px;
        }
        @media screen and (max-width: 486px) {
            font-size: 15px;
        }
        @media screen and (max-width: 425px) {
            text-align: center;
        }
        @media screen and (max-width: 386px) {
            font-size: 14px;
        }
    }
    &__partners {
        display: flex;
        padding-left: 0;
        margin-bottom: 54px;
    }
    &__partner {
        list-style-type: none;
        font-family: 'Cuprum';
        font-weight: 400;
        font-size: 12px;
        color: #918077;
        &:not(:last-child) {
            margin-right: 45px;
        }
        @media screen and (max-width: 386px) {
            font-size: 14px;
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
    &__search-field {
        display: flex;
        align-items: stretch;
        background-color: rgba(185, 55, 119, 0.92);
        height: 60px;
        width: 555px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.23);
        @media screen and (max-width: 686px) {
            width: 80%;
        }
        @media screen and (max-width: 486px) {
            width: 70%;
        }
        @media screen and (max-width: 425px) {
            display: none;
        }
    }
    &__text {
        background-color: transparent;
        border: none;
        width: 100%;
        outline: none;
        padding-left: 16px;
        font-size: 16px;
    }
    &__loupe {
        background-color: transparent;
        border: none;
        padding-right: 16px;
        cursor: pointer;
        transition: background-color ease 0.3s;
        padding-left: 16px;
        &:hover {
            background-color: rgba(200, 200, 200, 0.5);
        }
    }
}