.region-selection {
    border: 1px solid #b93777;
    position: relative;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    &__city-search {
        display: flex;
        align-items: center;
    }
    &__map-pin {
        width: 24px;
        height: 35px;
        margin-right: 15px;
    }
    &__search-field {
        width: 100%;
        height: 41px;
    }
    &__text {
        width: 100%;
        height: 41px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #b93777;
        font-size: 14px;
        &:focus {
            outline: none;
        }
    }
    &__close {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 20px;
        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            background-color: #000000;
            transform: rotate(-45deg);
        }
        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            background-color: #000000;
            transform: rotate(45deg);
        }
    }
    &__title {
        font-family: 'Cuprum';
        font-size: 20px;
        color: #000000;
    }
    &__city-select-content {
        display: flex;
        flex-flow: row wrap;
        padding-left: 0;
        height: 250px;
        overflow-y: auto;
    }
    &__city {
        list-style-type: none;
        width: 250px;
        @media screen and (max-width: 1302px) {
            width: 230px;
        }
        @media screen and (max-width: 1202px) {
            width: 210px;
        }
        @media screen and (max-width: 1102px) {
            width: 200px;
        }
        @media screen and (max-width: 1052px) {
            width: 175px;
        }
        @media screen and (max-width: 926px) {
            width: 160px;
        }
        @media screen and (max-width: 902px) {
            width: 150px;
        }
        @media screen and (max-width: 802px) {
            width: 140px;
        }
        @media screen and (max-width: 768px) {
            width: 175px;
        }
        @media screen and (max-width: 708px) {
            width: 150px;
        }
        @media screen and (max-width: 614px) {
            width: 140px;
        }
        @media screen and (max-width: 576px) {
            width: 180px;
        }
        @media screen and (max-width: 502px) {
            width: 160px;
        }
        @media screen and (max-width: 452px) {
            width: 145px;
        }
        @media screen and (max-width: 403px) {
            width: 125px;
        }
        @media screen and (max-width: 375px) {
            width: 100%;
        }
    }
    &__button {
        border: none;
        background-color: #ffffff;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Cuprum';
        font-size: 18px;
        color: #3d3c3c;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #b93777;
            opacity: 0;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 1358px) {
        width: 80%;
    }
}