.footer {
    .container {
        display: flex;
        justify-content: space-between;
    }
    background-image: url("/img/footer/background.jpg");
    margin-top: 108px;
    &__img-logo {
        margin-left: 71px;
        margin-top: 75px;
    }
    &__links {
        max-width: 264px;
        width: 100%;
    }
    &__socials {
        width: 100%;
        margin-top: 71px;
        margin-bottom: 76px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        position: relative;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 41px;
        height: 41px;
        &::before {
            content: "";
            position: absolute;
            background-color: #d3cac9;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: background-color ease 0.3s;
        }
        &:hover {
            &::before {
                background-color: #e0d5d4;
            }
        }
    }
    &__img {
        position: relative;
        z-index: 2;
    }
    &__wrapper {
        width: 702px;
        margin-right: 48px;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 62px;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__about-project {
        list-style-type: none;
    }
    &__advertisement {
        font-family: 'Cuprum';
        font-size: 18px;
        color: rgba(0, 0, 0, 0.47);
        letter-spacing: 4px;
        transition: color ease 0.3s;
        &:hover {
            color: rgba(44, 43, 43, 0.47);
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__menu-links {
        margin-top: 45px;
    }
    &__title {
        font-family: 'Bebas Neue Regular';
        font-size: 15px;
        color: #000000;
        letter-spacing: 3px;
        margin-top: 0;
    }
    &__menu-link {
        display: block;
        font-family: 'Cuprum';
        font-size: 16px;
        color: #7c7c7c;
        transition: color ease 0.3s;
        &:not(:last-child) {
            margin-bottom: 19px;
        }
        &:hover {
            color: #ada9a9;;
        }
    }
    &__copyright {
        font-family: 'Bebas Neue Regular';
        font-size: 12px;
        color: #a19994;
        letter-spacing: 3px;
        margin-top: 51px;
    }
}