.main {
    background-image: url("/img/main/background.jpg");
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 390px;
    margin-top: -149.2px;
    &__title {
        font-family: 'Cuprum';
        font-weight: 400;
        font-size: 23px;
    }
}