.about-course
    .about-course__above-header
        p.about-course__growth Профессиональный рост
        button.about-course__heart
            img(src="/img/icons/heart.png" alt="")
    .about-course__header
        h3.about-course__title ТАЙМ-МЕНЕДЖМЕНТ И СТРУКТУРА ОРГАНИЗАЦИИ
        p.about-course__university Московский государственный университет
    .about-course__characteristics
        .about-course__line
            span.about-course__left Стоимость
            span.about-course__right Бесплатно
        .about-course__line
            span.about-course__left Длительность
            span.about-course__right 1 Месяц
        .about-course__line
            span.about-course__left Рейтинг
            .about-course__right
                include ../components/rating
    .about-course__recruitment
        .about-course__people
            img(src="/img/icons/person.png" alt="")
            span.about-course__amount 10
        .about-course__date
            img(src="/img/icons/calendar.png" alt="")
            span.about-course__last-day Идет набор до 20.10.2018
    a.button(href="#") Подробнее