- var teacherImage;

.best-teacher
    img.best-teacher__img(src=`${teacherImage}`)
    .best-teacher__about
        h3.best-teacher__name 
            | Петрова
            br
            | Вера Никитишна
        h3.best-teacher__subjects ЕГЭ, ФИЗИКА, МАТЕМАТИКА