- var customerImage;
- var customerText;

.customer 
    img.customer__img(src=`${customerImage}` alt="")
    .customer__about 
        h3.customer__to-whom=customerText
        p.customer__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id venenatis nibh, sed aliquam sapien. Etiam at facilisis augue. Phasellus pretium eu elit at hendrerit.
    a.customer__search(href="#") ИСКАТЬ КУРС