.our-partner
    img.our-partner__img(src="img/partners/university.jpg" alt="")
    .our-partner__about-university
        h3.our-partner__name-of-university Московский государственный университет
        ul.our-partner__study
            li.our-partner__amount 10 курсов
            li.our-partner__amount 15 преподавателей